body {
    padding: 65px;
}

.view {
    left: 60px;
    position: relative;
    opacity: 0.0;
}

.card {
    background-color:#efefef;
    border: 1px solid black;
    height:75px;
    width: 225px;
    margin-bottom: 20px;
}

.cardHeader {
    background-color: #006dcc;
    font-size:14pt;
    color:white;
    padding:5px;
}

.cardClose {
    color: white;
    font-weight:bold;
    margin-right:5px;
}

.cardContainer {
    width:90%;
}

.cardBody {
    padding-left: 5px;
}

.cardImage {
    height:50px;width:50px;margin-top:10px;
}


.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left:20px;
}

.ordenesTabla {
    width:800px;
    margin-left:20px;
}

.ordenes th, .personalordenes th {
    width:25%;
    cursor: pointer;
}

.ordenesTabla tr:first-child th {
    background-color: #006dcc;
    color: #fff;
    font-weight: bold;
}


#submitPersonal {
    margin-left:50px;
    margin-top: -8px;
}

footer {
    margin-top:10px;
    font-weight: bold;
}


/* Bootstrap overrides */
.navbar-inner {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.navbar .nav {
    margin-left:50px;
    margin-top:15px;
}

.close {
    opacity: 1.0;
}





.navbar-inner {
    padding-left: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #027FF4;
    background-image: none;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

.navbar-inner.footer {
    background-color: #fafafa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:50px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #efefef;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #808080;
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
    color: #E03930;
}

.navbar .nav > li  {
    cursor:pointer;
}

    .navbar .nav > li > a {
        color: white;
        font-weight:bold;
        -webkit-text-shadow: none;
        text-shadow: none;
        height:30px;
        padding-top: 6px;
        padding-bottom: 0px;
    }

    .navbar .nav > li.toolbaritem > a {
        color: black;
        font-weight:bold;
        -webkit-text-shadow: none;
        text-shadow: none;
    }


.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
     -moz-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
}

.nav.navBarPadding {
    margin-left:25px;
    margin-top: 10px;
}

.navbarText {
    font-weight:bold;
}

.navbar .brand {
    margin-top: 2px;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.close {
    font-size:15pt;
    opacity: 1.0;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn.active {
  background-color: #f7f7f7;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}

.novalidate {
    border-left: none !important;
}

input.ng-invalid, select.ng-invalid, input.ng-invalid-required, select.ng-invalid.required {
  border-left: 5px solid #E03930;
}

input.ng-valid, select.ng-valid, input.ng-valid-required, select.ng-valid.required {
  border-left: 5px solid #57A83F;
}

.errorMessage {
    position:absolute;
    padding: 5px;
    background-color: #E03930;
    color:white;
    top:0px;
    left:270px;
}

.editIcon {
    margin-top: 2px;
}

.pagination li {
    cursor: pointer;
}

/* wcOverlay directive CSS styles */
.overlayContainer { display: none;}
.overlayBackground { top:0px; left:0px; padding-left:100px;position:absolute; z-index:1000;height:100%;width:100%;background-color:#808080;opacity:0.3;}
.overlayContent { position:absolute; border: 1px solid #000; background-color:#fff; font-weight: bold;height: 100px;width: 300px;z-index:1000;text-align:center;}
